<!DOCTYPE html>
<html lang="br">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}" />
    <head>
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKcfNPCX3RJWw21pW6Ne6TvNo_M28xL9Y">
        </script>

        <script type="text/javascript">
        
        var map;
        var marker;

        function placeCrimes(crimes) {
            for (i = 0; i < crimes.length; i++) {
                crime = new google.maps.Marker ( {
                    position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
                    map: map,
                    title: crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description
                });
            }
        }
        function placeMarker(location) {
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }
                document.getElementById('latitude').value = location.lat();
                document.getElementById('longitude').value = location.lng();
        }

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-16.675709, -49.245508),
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
            google.maps.event.addListener(map, 'click', function(event) {
                    placeMarker(event.latLng);
                });
            placeCrimes({{ crimes | safe }});
            
        }
       

        
        </script>

    </head>
    <body onload="initialize()">
        <h1>CrimeMap</h1>
        <p>Um mapa de atividades criminais no setor universitário.</p>
        <div id="map-canvas"></div>
        
        <div id="newcrimeform">
            <h2>Submit novo crime</h2>
            <form action="/submitcrime" method="POST">
                <label for="category">Categoria</label>
                <select name="category" id="category">
                    <option value="mugging">Mugging</option>
                    <option value="breakin">Break-in</option>
                </select>
                <label for="date">Date</label>
                <input name="date" id="date" type="date">
                <label for="latitude">Latitude</label>
                <input name="latitude" id="latitude" type="text">
                <label for="longitude">Longitude</label>
                <input name="longitude" id="longitude" type="text">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="A brief 
                        but detailed description of the crime"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    
    </body>
</html>